.book-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
    height: 10.625%;
    margin: 2.313% 0;
    padding: 2% 9.188% 0 1.688%;
    border-radius: 4px;
    border: solid 1px var(--grey-border);
    background-color: #fff;
}

.bk-oc {
    grid-column: 1 / 2;
}

.current-progress {
    grid-column: 2 / 3;
   width: 30%;
   margin-left: auto;
   margin-top: 1rem;
}

#title {
    width: 70%;
  height: 1.813%;
  margin: 0.188% 20.188% 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

#author {
    width: 6.688%;
  height: 1.188%;
  margin-top: 15%;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
}

.btn-container {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.5rem;
}

.btn-container > * {
    background: none;
    color: rgb(60, 60, 255);
    border: none;
}

#btn-remove {
    padding: 0 0.3rem;
    border-right: 2px solid #aaa;
    border-left: 2px solid #aaa;
}