.book-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr ;
    width: 100%;
    min-height: 200px;
    margin: 2.313% 0;
    padding: auto;
    border-radius: 4px;
    border: solid 1px var(--grey-border);
    background-color: #fff;
    gap: 4rem;
}

.bk-oc {
    grid-column: 1 / 2;
    height: 100%;
    margin: 2em auto auto 2em;
}

.current-progress {
    grid-column: 2 / 3;
    display: flex;
   align-items: center;
   margin-right: auto;
   font-size: 1.7em;
   gap: 0.3em;
}

#title {
    width: 70%;
  margin: 0.188% 20.188% 0.05em 0;
  font-family: RobotoSlab;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color:black;
}

#categor {
    font-size: 1.0rem;
    color: #121212
}

#author {
    width: 6.688%;
  margin-bottom: 2.4em;
  font-family: RobotoSlab;
  font-size: 1.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf
}

.btn-container {
    display: flex;
    gap: 0.5rem;
}

.btn-container > * {
    background: none;
    color: rgb(60, 60, 255);
    border: none;
    font-size: 1em;
}

#btn-remove {
    padding: 0 0.3rem;
    border-right: 2px solid #aaa;
    border-left: 2px solid #aaa;
}

.update-progress {
    grid-column: 3 / 4;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: auto;
    border-left: 2px solid #aaa;
    padding: 1rem 1rem 1rem 2rem;
}

#btn-chapter {
    width: 70%;
    background-color: #0290ff;
    color: #fff;
    margin: 0.75em 0 0.563em 3.688em;
    padding: 0.438em 1.188em 0.5em 1.375rem;
    border-radius: 3px;
    border: #0290ff;
}

.update-progress h4,
.update-progress p {
    padding-left: 2.9em;
}