.form-container {
  width: 91%;
}

.form-container h4 {
  height: 1.5%;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.book-form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

#book-author,
#book-title {
  min-width: 25%;
  height: 40%;
  font-size: 1.2rem;
  margin: 0.6% 0.6% 0 0;
  padding: 0.4% 2% 0.4% 2%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

#submit {
  min-width: 10.938%;
  height: 2.125%;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #0290ff;
  padding: 0.5em;
}

#catecate {
  width: 20%;
  height: 2.813%;
  margin: 0.6% 0.6% 0 0;
  padding: 0.4% 2% 0.4% 2%;
  border-radius: 4px;
  border: solid 1px grey;
  background-color: #fff;
  font-size: 1.2rem;
}
