* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid blue;
}

nav {
    width: 87.5%;
    height: 5.938%;
    margin: 0 0 2.375%;
    padding: 1.438% 6.188% 1.688% 6.25%;
    background-color: #fff;
  }

  #logo {
    width: 15%;
    height: 2.313%;
    margin: 0.375% 2.938% 0.125% 0;
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: blue;
  }

  .BOOKS {
    width: 3.688%;
    height: 1%;
    margin: 1.125% 2.563% 0.688% 0;
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: var(--black-two);
  }

  .CATEGORIES {
    width: 6.563%;
    height: 1%;
    margin: 1.125% 41.5% 0.688% 2.563%;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: var(--black-two);
  }

